<header class="page-header">
  <h1>Admin &raquo; Dashboard</h1>
</header>

<div class="panel panel-default products">  <!-- "Panel containing information about products" -->

  <table class="table table-bordered">      <!-- "Table to display product and category information" -->
    <thead>
      <tr>                                  <!-- "Table header row" -->
        <th>Total Products</th>
        <th>Total Categories</th>
      </tr>
    </thead>
    <tbody>
      <tr>                                  <!-- "Table body row" -->
        <td>                                <!-- "Cell displaying the total number of products" -->
          <%= @products %>                  <!-- Displaying the value of @products -->
        </td>
        <td>                                <!-- "Cell displaying the total number of categories" -->
          <%= @categories %>                <!-- Displaying the value of @categories -->
        </td>
      </tr>
    </tbody>
  </table>
</div>